* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323232;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  min-width: 320px;
}

.app {
  min-height: 100vh;
  background: #7a5ebe !important;
  background: linear-gradient(5deg, #7a5ebe 26%, #bc5ead 57%, #d0b0e9 100%) !important;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .app {
    padding: 0 1rem;
    margin: 0;
  }
}

@media (min-width: 1080px) {
  .app {
    padding: 0 10rem;
  }
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style-type: none;
}

button, .button {
  color: #7a5ebe;
  min-width: 5rem;
  border-radius: 1.8rem;
  border: none;
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1rem;
}

button:hover, .button:hover {
  opacity: .9;
  -webkit-box-shadow: 2px 2px 10px 1px #ab9acd;
          box-shadow: 2px 2px 10px 1px #ab9acd;
}

button:active, .button:active {
  opacity: 1;
  -webkit-box-shadow: 5px 5px 15px 5px #E1E1E1;
          box-shadow: 5px 5px 15px 5px #E1E1E1;
  border: 0 inset;
}

input, textarea {
  outline: none;
  border-color: rgba(175, 175, 175, 0.2);
  padding-left: .67em;
  border-radius: 20px;
  height: 2.5rem;
  font-size: 1.1rem;
  margin-top: 1rem;
}

input:active, textarea:active {
  border: #7a5ebe 1px solid;
}

input:focus, textarea:focus {
  border: #7a5ebe 1px solid;
}

textarea {
  height: 8rem;
}

a {
  text-decoration: none;
  color: #7a5ebe;
}

.header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-height: 90px;
  margin: 0 auto;
}

.header__logo-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__btn {
  padding: 0 1rem;
  margin: 0 1rem .5rem 0;
  margin-right: 1rem;
  border-radius: 1.8rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #7a5ebe;
  background-color: #FFFFFF;
}

.header__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search--form {
  width: 60%;
  max-width: 20rem;
  margin: 0;
}

.header__search--input {
  width: 100%;
  margin: 0;
}

.header__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__inner-wrapper--col-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: auto;
}

.header__inner-wrapper--col-1 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__inner-wrapper--col-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__inner-wrapper--col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .2rem;
  width: 100%;
}

.header--row-2 {
  margin: 1rem 0 1rem 0;
}

.header__text {
  color: #FFFFFF;
  padding: 0;
  margin: auto;
  margin-right: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  float: right;
}

.header__avatar {
  border-radius: 5.8rem;
}

.header__avatar--wrapper {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header__inner-wrapper {
    margin: 0 15%;
  }
}

@media (min-width: 1080px) {
  .header {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .header__inner-wrapper {
    margin: 0 20rem;
  }
}

.login__wrapper {
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50%;
  padding: 3rem 2rem;
  -webkit-box-shadow: 2px 2px 15px 2px #E1E1E1;
          box-shadow: 2px 2px 15px 2px #E1E1E1;
  border-radius: 3px;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  border: 1px white solid;
  width: 100%;
}

.sub-header__btn {
  color: #7a5ebe;
  background-color: #f0ebfe;
}

.form__wrapper {
  padding-bottom: 5rem;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0.5rem;
}

.form__group--large {
  padding: 1rem;
  border-radius: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.1);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.1);
}

.form__label {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.form__label--large {
  width: 100%;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.form__input {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form__input:focus {
  outline: none;
  border: 2px #7a5ebe solid;
}

@media (min-width: 768px) {
  .form__wrapper {
    margin: 0 15%;
  }
}

@media (min-width: 1080px) {
  .form__wrapper {
    margin: 0 20rem;
  }
}

.modal__window {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100vw;
  height: 600%;
  z-index: 2;
  left: 0;
  top: 139px;
}

.modal__wrapper {
  padding: 1rem;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 3;
  left: 0;
  top: 20px;
  border-radius: 1.8rem;
  background-color: #FAFAFA;
}

.modal__content {
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.modal__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-column-count: 4;
          column-count: 4;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 1.8rem;
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.1);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.1);
  padding: 1rem;
}

.modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  border-radius: 1.8rem;
  border: rgba(122, 94, 190, 0.5) solid 1px;
  padding: 1rem;
  margin: 1rem 0;
}

.modal__item:hover {
  border: #7a5ebe solid 1px;
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.1);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.1);
}

.icon {
  width: 3rem;
  height: 3rem;
}

.icon:hover {
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
}

#avatar-image-id {
  width: 90px;
  height: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}

.user-list {
  margin: 0;
  padding: 1rem .9rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
}

@media (min-width: 768px) {
  .user-list {
    margin: auto 3%;
  }
}

@media (min-width: 1080px) {
  .user-list {
    margin: auto 10rem;
  }
}

.user-list__container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .user-list__container {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .user-list__container {
    max-width: 80%;
  }
}

.user-list__card {
  background-color: #f0ebfe;
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-list__card--btn {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 1.1rem;
  height: 1.1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.user-list__card--row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: .3rem;
}

.user-list__card--row-1-a {
  margin-top: .2rem;
  margin-right: 0;
  font-size: 1.5rem;
  text-align: right;
}

.user-list__card--col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.user-details {
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
  padding: 1rem;
  margin: 0;
}

.user-details__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: flex-end;
}

.user-details__wrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-details__title {
  margin: 1rem auto 0 1rem;
  color: #f0ebfe;
}

.user-details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.user-details__card {
  min-width: 300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.8rem;
  background-color: #FFFFFF;
  padding: .3rem 1.3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.user-details__card--large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1.8rem;
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
}

.user-details__card--title {
  padding-left: 2rem;
  color: #FFFFFF;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .user-details__card {
    width: 80%;
  }
}

@media (min-width: 1080px) {
  .user-details__card {
    min-width: 470px;
    width: 50%;
  }
}

.user-details__profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .5rem 0;
  padding-right: 1rem;
}

.user-details__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  -webkit-column-count: 2;
          column-count: 2;
  margin-top: 0;
  width: 100%;
  padding: 0 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-details__list-title {
  margin-top: auto;
  font-size: 1.4rem;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f0ebfe;
}

.user-details__middle-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.user-details__img {
  border-radius: 1rem;
}

.user-details__img-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.user-details__btn {
  border-radius: 1rem;
  font-size: .9rem;
  margin: auto .5rem 0 auto;
  margin-bottom: 0;
  min-width: 9rem;
}

.user-details__btn-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto .5rem 0;
}

.user-details__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.user-details__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  margin-right: .5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.user-details__field {
  margin: 0;
  font-size: 1.3rem;
  margin: .2rem;
}

.user-details__edit-btn {
  margin: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.user-details__edit--icon {
  height: 45px;
  width: 45px;
}

.user-details--col-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .user-details {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .user-details__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1080px) {
  .user-details {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.event__wrapper {
  padding: 1rem 1rem;
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
}

.event__header {
  margin: 0;
}

@media (min-width: 768px) {
  .event__header {
    margin: 0 5rem;
  }
}

@media (min-width: 1080px) {
  .event__header {
    margin: 0 9rem;
  }
}

.event-form {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.event-form__btn {
  margin-top: 2rem;
  width: 5rem;
  border-radius: 1.8rem;
}

.event-form__label {
  color: #f0ebfe;
}

@media (min-width: 768px) {
  .event-form {
    max-width: 70%;
  }
}

@media (min-width: 1080px) {
  .event-form {
    max-width: 50%;
  }
}

.event-list__container {
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .event-list__container {
    padding: 1rem 10rem;
  }
}

.font--light {
  color: #f0ebfe;
}

.col-span-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-span: 2;
          column-span: 2;
}

.column__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0ebfe;
  border-radius: 1.8rem;
  width: 100%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery {
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
  margin: 5px;
  width: 180px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.gallery__container {
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.gallery__component--wrapper {
  padding: 0 1rem;
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
  border-radius: 5px;
}

@media (min-width: 768px) {
  .gallery__component--wrapper {
    margin: 0 auto;
    width: 80%;
  }
}

.gallery:hover {
  border: 1px solid #AFAFAF;
}

.gallery img {
  width: 100%;
  height: 150px;
}

.white-text {
  color: #FFFFFF;
}

.delete-btn--small {
  border-radius: 1rem;
  margin: 0;
  padding: 0;
  width: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  margin: 0 0 0 auto;
}

.event-list__card {
  background-color: #f0ebfe;
  -webkit-box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
          box-shadow: 0 0 22px 2px rgba(50, 50, 50, 0.3);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event-list__pic {
  border-radius: 1.8rem;
  width: 50px;
  margin-right: .5rem;
}

.event-list__pic--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.transparent {
  background-color: transparent;
}
/*# sourceMappingURL=main.css.map */